html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;

  background-color: white;

  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#results {
  padding-bottom: 50px;
}

.resultrow {
  margin: 8px 8px;
}

.eo-result {
  color: blue;
}

.en-result {
  color: green;
  margin-left: 15px;
}

input {
  padding: 7px 9px;
  font-size: 1em;
}
