<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">

<vortaro>
<art mrk="$Id: di.xml,v 1.43 2016/01/03 23:10:14 revo Exp $">
<kap>
  <ofc>*</ofc>
  <rad>di</rad>/o <fnt><bib>PV</bib></fnt>
</kap>
<drv mrk="di.0o">
  <kap><ofc>*</ofc><tld/>o</kap>
  <snc mrk="di.0o.politeisma">
    <tezrad fak="MIT"/>
    <tezrad fak="REL"/>
    <uzo tip="fak">MIT</uzo>
    <uzo tip="fak">REL</uzo>
    <dif>
      Esta&jcirc;o prezentata kiel supernatura, ordinare senmorta,
      pli potenca ol homoj:
      <ekz>
        neniu scias tiom multe da historioj, kiel la <tld/>o de
        dormo
        <fnt><bib>Fab2</bib>, <lok>Dio de dormo</lok></fnt>;
      </ekz>
      <ekz>
        la Eternulo estos terura por ili, &ccirc;ar li ekstermos
        &ccirc;iujn <tld/>ojn de la tero
        <fnt><bib>MT</bib>, <lok>Cefanja 2:11</lok></fnt>;
      </ekz>
      <ekz>
        <ind><tld/>ino</ind>.
        <trd lng="be">&c_b;&c_a;&c_g;&c_ib;&c_n;&c_ja;</trd>
        <trd lng="fr">d&eacute;esse</trd>
        <trd lng="nl">godin</trd>
      </ekz>
    </dif>
    <subsnc mrk="di.0o.monoteisma">
      <uzo tip="fak">REL</uzo>
      <dif>
        Supernatura, eterna, perfekta kaj &ccirc;iopova estulo,
        kreanto de la universo:
        <ekz>
          kion <tld lit="D"/>o kreis en la sesa tago
          <fnt><bib>F</bib>, <lok>&FE; 12</lok></fnt>?
        </ekz>
        <ekz>
          <tld/>o volu, ke... <klr>(mi tre deziras, ke...)</klr>
        </ekz>
      </dif>
      <trd lng="vo">God</trd>
    </subsnc>
    <subsnc mrk="di.0o.FIL">
      <uzo tip="fak">FIL</uzo>
      <dif>
        Principo de ekzistado, unueco kaj komprenebleco de universo.
      </dif>
    </subsnc>
  </snc>
  <rim num="1">
    En la sencoj <sncref ref="di.0o.monoteisma"/> kaj
    <sncref ref="di.0o.FIL"/>, <tld/>o estas komuna nomo indikanta
    nombreblan unika&jcirc;on, kaj la&ubreve; la &gcirc;enerala
    regulo devus akcepti la difinan artikolon, simile al
    <ctl>la homaro</ctl>, <ctl>la mondo</ctl> ktp. &Gcirc;uste tiel
    estas en la greka:
    &kappa;&alfa;&jota_grave; &omikron_densa;
    &lambda;&omikron_ton;&gamma;&omikron;&sigma_fina; &eta_densa_circ;&ny;
    &pi;&rho;&omikron_grave;&sigma_fina;
    <em>&tau;&omikron_grave;&ny; &theta;&epsilon;&omikron_ton;&ny;
    </em>, &kappa;&alfa;&jota_grave;
    <em>&theta;&epsilon;&omikron_grave;&sigma_fina;</em>
    &eta_densa_circ;&ny; &omikron_densa;
    &lambda;&omikron_ton;&gamma;&omikron;&sigma_fina;
    (la&ubreve;vorte: <ctl>kaj la vorto estis &ccirc;e
    <em>la dio</em>,
    kaj <em>dio</em> estis la vorto</ctl>; en la unua apero
    <em>la dio</em> estas determinita difine kiel la konata
    unika&jcirc;o; en la dua, <em>dio</em> estas predikativo, kaj
    tial senartikola, la&ubreve; sia senco; la tradicia traduko
    [Johano 1:1]
    tiun alklasigon misprezentas kiel identigon).
    La okcidentaj lingvoj transprenis la vorton el la senartikola
    Latino, kaj heredigis tiun malregula&jcirc;on al Esperanto.
    Anka&ubreve; la araba <ref cel="alah.0o">Alaho</ref> devenas el
    <ctl>la dio</ctl>.
  </rim>
  <rim num="2">
    La piuloj skribas kun majuskla D: <em>Dio</em> por la senco
    <sncref ref="di.0o.monoteisma"/> kaj iuj e&ccirc; opinias tiun
    vorton nomo propra; tio estas malvera en kristanismo, judismo
    kaj islamo. E&ccirc; pli malvera tio estas por la senco
    <sncref ref="di.0o.FIL"/> (filozofia).
  </rim>
  <rim num="3">
    En la religioj mediteraneaj (judismo, kristanismo, islamo)
    <tld lit="D"/>o estas personeca kaj li-genra; en pli abstraktaj
    sistemoj filozofiaj (panteismo, budaismo) ne estas persona
    <tld/>o, kaj se oni uzas tian vorton, &gcirc;i ofte estas
    &gcirc;i-genra.
    Tiel en la titolo de Waringhien-aj eseoj:
    <ekz>
      <ctl>Ni kaj &Gcirc;i</ctl> <klr>(kie <ctl>&Gcirc;i</ctl>
      rilatas al <tld lit="D"/>o)</klr>.
    </ekz>
  </rim>
  <trd lng="be">&c_b;&c_o;&c_g;</trd>
  <trd lng="ca">d&eacute;u</trd>
  <trd lng="de">Gott</trd>
  <trd lng="en">god</trd>
  <trd lng="es">dios</trd>
  <trd lng="fr">dieu</trd>
  <trdgrp lng="hu">
    <trd>isten</trd>,
    <trd>Isten</trd>
  </trdgrp>
  <trd lng="nl">God</trd>
  <trdgrp lng="pt">
    <trd>deus</trd>,
    <trd>divindade</trd>,
    <trd>deidade</trd>,
    <trd>nume</trd>
  </trdgrp>
  <trd lng="pl">b&oacute;g</trd>
  <trd lng="ru">&c_b;&c_o;&c_g;</trd>
  <trdgrp lng="tr">
    <trd>Allah</trd>,
    <trd>Tanr&inodot;</trd>
  </trdgrp>
  <trd lng="sv">gud</trd>
  <trd lng="tp">jan sewi</trd>
  <trdgrp lng="sk">
    <trd>Boh</trd>,
    <trd>boh</trd>
  </trdgrp>
  <trdgrp lng="cs">
    <trd>B&uring;h</trd>,
    <trd>b&uring;h</trd>
  </trdgrp>
</drv>

<drv mrk="di.0a">
  <kap><tld/>a</kap>
  <snc mrk="di.0a.REL">
    <dif>
      De <tld/>o:
      <ekz>
        la <tld/>a potenco
        <fnt><bib>Far1</bib>, <lok>&ccirc;apitro 18a</lok></fnt>.
      </ekz>
    </dif>
    <trd lng="ru">&c_b;&c_o;&c_zh;&c_i;&c_j;</trd>
  </snc>
  <snc mrk="di.0a.FIG">
    <uzo tip="stl">FIG</uzo>
    <dif>
      Perfekta, kvaza&ubreve; &gcirc;i estus de <tld/>o:
      <ekz>
        &scirc;i havis <tld/>an vo&ccirc;on, <tld/>ajn formojn.
      </ekz>
    </dif>
    <trd lng="ru">
    &c_b;&c_o;&c_zh;&c_je;&c_s;&c_t;&c_v;&c_je;&c_n;&c_n;&c_y;&c_j;
    </trd>
  </snc>
  <trd lng="be">&c_b;&c_o;&c_s;&c_k;&c_ib;</trd>
  <trd lng="ca">div&iacute;</trd>
  <trd lng="de">g&ouml;ttlich</trd>
  <trd lng="es">divino</trd>
  <trd lng="fr">divin</trd>
  <trd lng="hu">isteni</trd>
  <trd lng="nl">goddelijk</trd>
  <trd lng="pl">boski</trd>
  <trd lng="sv">gudomlig</trd>
</drv>

<drv mrk="di.0ismo">
  <kap><tld/>ismo</kap>
  <snc mrk="di.0ismo.FIL">
    <uzo tip="fak">FIL</uzo>
    <ref tip="dif" cel="deism.0o">deismo</ref>
  </snc>
  <trd lng="be">&c_d;&c_e;&c_ib;&c_z;&c_m;</trd>
  <trd lng="ca">deisme</trd>
  <trd lng="cs">deizmus</trd>
  <trdgrp lng="de">
    <trd>Deismus</trd>,
    <trd>Gottglaube</trd>
  </trdgrp>
  <trdgrp lng="fr">
    <trd>d&eacute;isme</trd>,
    <trd>th&eacute;isme</trd>
  </trdgrp>
  <trd lng="hu">deizmus</trd>
  <trd lng="nl">the&iuml;sme</trd>
  <trd lng="pl">deizm</trd>
  <trd lng="ru">&c_d;&c_je;&c_i;&c_z;&c_m;</trd>
  <trd lng="sk">deizmus</trd>
</drv>

<drv mrk="di.dom0o">
  <kap>dom<tld/>o</kap>
  <snc mrk="di.dom0o.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Iu el la protektaj <tld/>oj en domo a&ubreve; domoparto, kiujn
      oni kultas &ccirc;e hejma altaro:
      <ekz>
        por ni, plibone estas vivi meze de la prapatraj dom<tld/>oj
        kaj konservi en kvieta paco niajn virtojn en nia propra
        hejmo
        <fnt><aut>J. B. Gresset, trad. C. Rousseau</aut>,
        <vrk>Ver-vert</vrk>, <lok>Esperantista Centra Librejo,
        [1914?]</lok></fnt>.
      </ekz>
    </dif>
  </snc>
  <trdgrp lng="ca">
    <trd>lar</trd>,
    <trd>d&eacute;u dom&egrave;stic</trd>
  </trdgrp>
  <trdgrp lng="fr">
    <trd>dieu du foyer</trd>,
    <trd>lare<klr> (dieu du foyer)</klr></trd>
  </trdgrp>
  <trd lng="pl">b&oacute;stwo<klr> opieku&nacute;cze domu</klr>
  </trd>
</drv>

<drv mrk="di.sen0a">
  <kap>sen<tld/>a</kap>
  <snc mrk="di.sen0a.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Ne kredanta je la ekzisto de dioj a&ubreve; Dio:
    </dif>
    <ekz>
      li estis homo plej sova&gcirc;a, profana kaj sen<tld/>a
      <fnt>
        <aut>A. Conan Doyle trad. W. Auld</aut>,
        <vrk>La &ccirc;ashundo de la Baskerviloj</vrk>,
        <lok>p.15</lok>
      </fnt>.
    </ekz>
  </snc>
<trd lng="fr">ath&eacute;e</trd>
</drv>

<drv mrk="di.sen0eco">
  <kap>sen<tld/>eco, <var><kap>sen<tld/>ismo</kap></var></kap>
  <snc mrk="di.sen0eco.REL">
    <uzo tip="fak">REL</uzo>
    <ref tip="dif" cel="ateism.0o.FIL">ateismo</ref>
    <ekz>
      la sen<tld/>eco trapasis la mezuron, kaj proksimi&gcirc;as la
      horo de l'ju&gcirc;o
      <fnt><bib>Far3</bib>, <lok>&ccirc;apitro 16a</lok></fnt>;
    </ekz>
    <ekz>
      ni deklaras nin por la kreskado internacia de la sen<tld/>eco,
      kiu estas la sola bazo de la vera homaranismo
      <fnt>
      <aut>franca federacio de la Libera Penso</aut>,
      <vrk><url
      ref="http://librepenseefrance.ouvaton.org/congres/mondial/accueil.htm">
      Alvoko al monda kongreso de la Libera Penso</url></vrk>,
      <lok>2004-07-10</lok>
      </fnt>.
    </ekz>
  </snc>
  <trd lng="be">&c_a;&c_t;&c_e;&c_ib;&c_z;&c_m;</trd>
  <trd lng="ca">ateisme</trd>
  <trd lng="es">ateismo</trd>
  <trdgrp lng="fr">
    <trd>ath&eacute;isme</trd>,
    <trd>impi&eacute;t&eacute;</trd>
  </trdgrp>
  <trd lng="hu">ateizmus</trd>
  <trdgrp lng="pl">
    <trd>ateizm</trd>,
    <trd>bezbo&zdot;no&sacute;&cacute;</trd>
  </trdgrp>
  <trd lng="ru">&c_a;&c_t;&c_je;&c_i;&c_z;&c_m;</trd>
  <trd lng="sk">ateizmus</trd>
  <trd lng="sv">ateism</trd>
  <trdgrp lng="zh">
    <trd>&#26080;&#31070;&#35770;</trd>,
    <trd><klr>tr. </klr>&#28961;&#31070;&#35542;<klr>
    [w&uacute;sh&eacute;nl&ugrave;n]</klr></trd>
  </trdgrp>
</drv>

<drv mrk="di.sen0ulo">
  <kap>sen<tld/>ulo</kap>
  <snc mrk="di.sen0ulo.REL">
    <uzo tip="fak">REL</uzo>
    <dif>
      Neanto de la ekzisto de dio a&ubreve; dioj:
      <ekz>
        en okcidento, la sen<tld/>uloj <klr>...</klr> &gcirc;enerale ne 
        apartenas al specifaj asocioj
        <fnt>
          <aut>B. Cadei</aut>,
          <vrk>Ateistoj kaj kredantoj interparolis...</vrk>,
          <lok><url
          ref="http://www.esperokatolika.org/ek19811985/ek1984_09.htm">
          Espero Katolika, 1984, numero 9a</url></lok>
        </fnt>.
      </ekz>
    </dif>
  </snc>
  <trd lng="be">&c_a;&c_t;&c_e;&c_ib;&c_s;&c_t;</trd>
  <trd lng="ca">ateu</trd>
  <trd lng="cs">ateista</trd>
  <trdgrp lng="de">
    <trd>Atheist</trd>,
    <trd>Gottloser</trd>
  </trdgrp>
  <trd lng="en">atheist</trd>
  <trd lng="es">ateo</trd>
  <trd lng="fr">ath&eacute;e<klr> (subst.)</klr></trd>
  <trdgrp lng="hu">
    <trd>ateista</trd>,
    <trd>istentagad&oacute;</trd>
  </trdgrp>
  <trdgrp lng="pl">
    <trd>ateista</trd>,
    <trd>bezbo&zdot;nik</trd>
  </trdgrp>
  <trd lng="ru">&c_a;&c_t;&c_je;&c_i;&c_s;&c_t;</trd>
  <trdgrp lng="sk">
    <trd>ateista</trd>,
    <trd>neznaboh</trd>
  </trdgrp>
  <trd lng="sv">ateist</trd>
</drv>

<drv mrk="di.0patrino">
  <kap><tld/>patrino</kap>
  <snc mrk="di.0patrino.KRI">
    <uzo tip="fak">KRI</uzo>
    <dif>
      Maria, patrino de <ref cel="jesu.0o.homo">Jesuo</ref>:
      <ekz>
        la lampo anta&ubreve; la bildo de la <tld lit="D"/>patrino
        &jcirc;etadis fortan lumon sur la palan belan viza&gcirc;on
        de la infano
        <fnt><bib>Fab1</bib>, <lok>Kupra porko</lok></fnt>;
      </ekz>
      <ekz>
        tie, ho &gcirc;ojo, estis ore ornamita ikono de la
        <tld lit="D"/>patrino
        <fnt><aut>Ivan G. &Scirc;irjaev</aut>, <vrk>Sen
        titolo</vrk>,
        <lok>&ccirc;apitro 18a</lok></fnt>;
      </ekz>
      <ekz>
        Re&gcirc;ino de l' &Ccirc;ielo, protektema
        <tld lit="D"/>patrino, forportu nin de &ccirc;i tie!
        <fnt>
        <aut>A. &Ccirc;e&hcirc;ov, trad. A. Kor&jcirc;enkov</aut>,
        <vrk>Post la Kristnasko</vrk>.
        <bib>LOdE</bib>, <lok>2002:1</lok>
        </fnt>.
      </ekz>
    </dif>
  </snc>
  <trdgrp lng="be">
    <trd>&c_B;&c_a;&c_g;&c_a;&c_r;&c_o;&c_d;&c_z;&c_ib;&c_c;&c_a;
    </trd>,
    <trd>&c_M;&c_a;&c_c;&c_ib; &c_b;&c_o;&c_s;&c_k;&c_a;</trd>
  </trdgrp>
  <trdgrp lng="ca">
    <trd>Mare de D&eacute;u</trd>,
    <trd>nostra Senyora</trd>,
    <trd>Maria</trd>
  </trdgrp>
  <trd lng="de">Gottesmutter</trd>
  <trdgrp lng="el">
    <trd>&Theta;&epsilon;&omikron;&my;&eta_ton;&tau;&omega;&rho;</trd>,
    <trd>&Theta;&epsilon;&omikron;&tau;&omikron_ton;&kappa;&omikron;&sigma_fina;</trd>
  </trdgrp>
  <trd lng="es">Madre de Dios</trd>
  <trdgrp lng="fr">
    <trd>M&egrave;re de Dieu</trd>
  </trdgrp>
  <trdgrp lng="hu">
    <trd>Isten anyja</trd>,
    <trd>istenanya</trd>,
    <trd>Sz&udblac;z M&aacute;ria</trd>
  </trdgrp>
  <trdgrp lng="la">
    <trd>Mater Dei</trd>,
    <trd>Deipara</trd>
  </trdgrp>
  <trd lng="nl">Moeder Gods</trd>
  <trdgrp lng="pl">
    <trd>Matka Boska</trd>,
    <trd>Bogurodzica<klr> (przest.)</klr></trd>
  </trdgrp>
  <trdgrp lng="ru">
    <trd>&c_b;&c_o;&c_g;&c_o;&c_r;&c_o;&c_d;&c_i;&c_c;&c_a;</trd>,
    <trd>&c_b;&c_o;&c_g;&c_o;&c_m;&c_a;&c_t;&c_je;&c_r;&c_mol;</trd>
  </trdgrp>
</drv>

<drv mrk="di.plur0ismo">
  <kap>plur<tld/>ismo</kap>
  <snc>
    <uzo tip="fak">REL</uzo>
    <uzo tip="fak">FIL</uzo>
    <dif>
      Religio kredanta je ekzisto de multaj dioj.
    </dif>
    <ref tip="sin" cel="polite.0o">politeismo</ref>
  </snc>
  <trd lng="ca">politeisme</trd>
  <trd lng="de">Polytheismus</trd>
  <trdgrp lng="pl">
    <trd>politeizm</trd>,
    <trd>wielob&oacute;stwo</trd>
  </trdgrp>
</drv>
</art>
<!--
$Log: di.xml,v $
Revision 1.43  2016/01/03 23:10:14  revo
Alain Gerard: + sen~a +trd fr + fnt

Revision 1.42  2015/07/04 08:37:32  revo
aldono de trd cs per skripto de M. von Laer

Revision 1.41  2015/06/29 16:29:37  revo
aldono de trd sk per skripto de M. von Laer

Revision 1.40  2012/09/04 08:10:17  revo
Marc Rausell: kor ++ trd ca

Revision 1.39  2011/06/24 19:10:14  revo
Dominique Pelle: (ripetita vorto) estas estas -> estas

Revision 1.38  2009/06/09 16:31:15  revo
Sebastian Cyprych: +trd pl

Revision 1.37  2009/03/30 16:30:44  revo
Wieland Pusch: +drv plurdiismo

Revision 1.36  2008/08/23 16:30:36  revo
-->
</vortaro>
