<?xml version="1.0"?>
<!DOCTYPE vortaro SYSTEM "../dtd/vokoxml.dtd">

<vortaro>
<art mrk="$Id: menu.xml,v 1.25 2015/07/04 08:37:39 revo Exp $">
<kap>
  <ofc>1</ofc>
  <rad>menu</rad>/o <fnt><bib>PV</bib></fnt>
</kap>
<drv mrk="menu.0o">
  <kap><tld/>o</kap>
  <snc mrk="menu.0o.KOMUNE">
    <dif>
      <ref tip="super" cel="list.0o.KOMUNE">Listo</ref> proponata por
      elekto de eroj:
    </dif>
    <subsnc mrk="menu.0o.bankeda">
      <uzo tip="fak">KUI</uzo>
      <dif>
        Listo de man&gcirc;a&jcirc;oj de bankedo, oficiala a&ubreve;
        solena
        man&gcirc;o:
        <ekz>
          aran&gcirc;i delikatan, rafinitan <tld/>on<fnt>PIV</fnt>.
        </ekz>
      </dif>
      <trd lng="de">Men&uuml;</trd>
      <trdgrp lng="hu">
        <trd>men&uuml;</trd>,
        <trd>&eacute;trend</trd>
      </trdgrp>
    <trdgrp lng="pt">
      <trd>card&aacute;pio</trd>,
      <trd>menu <klr>(de restaurantes, banquete)</klr></trd>
    </trdgrp>
    </subsnc>
    <subsnc mrk="menu.0o.restoracia">
      <uzo tip="fak">KUI</uzo>
      <ref tip="dif" cel="kart.mangxo0o.KUI">man&gcirc;okarto</ref>
      <trdgrp lng="de">
        <trd>Speisekarte</trd>,
        <trd>Men&uuml;</trd>
      </trdgrp>
      <trd lng="hu">&eacute;tlap</trd>
      <trdgrp lng="pl">
        <trd>jad&lstroke;ospis</trd>,
        <trd>karta da&nacute;</trd>
      </trdgrp>
      <trdgrp lng="pt">
        <trd>card&aacute;pio</trd>,
        <trd>menu <klr>(de restaurante, banquete)</klr></trd>
      </trdgrp>
    </subsnc>
    <subsnc mrk="menu.0o.KOMP">
      <uzo tip="fak">KOMP</uzo>
      <dif>
        En <ref tip="malprt" cel="dialog.0o.KOMP">dialogo</ref> kun
        komputilo, listo da komandoj a&ubreve; opcioj aperanta sur la
        ekrano, el kiu listo la uzanto elektas la bezonaton klavante
        numeron a&ubreve; literon, a&ubreve; almovante la kursoron
        per sagoklavoj a&ubreve; muso.
      </dif>
      <trd lng="de">Men&uuml;</trd>
      <trd lng="hu">men&uuml;</trd>
      <trd lng="pt">menu <klr>(inform.)</klr></trd>
    </subsnc>
    <refgrp tip="vid">
      <ref cel="repert.0o">repertuaro</ref>
    </refgrp>
  </snc>
  <trd lng="be">&c_m;&c_e;&c_n;&c_ju;</trd>
  <trd lng="ca">men&uacute;</trd>
  <trd lng="cs">jídelní lístek</trd>
  <trd lng="de">Men&uuml;</trd>
  <trd lng="en">menu</trd>
  <trd lng="es">men&uacute;</trd>
  <trd lng="fr">menu</trd>
  <trd lng="nl">menu</trd>
  <trd lng="pl">menu</trd>
  <trd lng="pt">menu</trd>
  <trd lng="ru">&c_m;&c_je;&c_n;&c_ju;</trd>
  <trdgrp lng="sk">
    <trd>jedálny lístok</trd>,
    <trd>menu</trd>
  </trdgrp>
</drv>

<drv mrk="menu.0ero">
  <kap><tld/>ero</kap> <fnt><bib>KompLeks</bib></fnt>
  <snc mrk="menu.0ero.KOMUNE">
    <dif>
      Unuopa elemento en <tld/>o.
    </dif>
  </snc>
  <trdgrp lng="ca">
    <trd>plat</trd>,
    <trd>opci&oacute;</trd>
  </trdgrp>
  <trdgrp lng="de">
    <trd>Men&uuml;item</trd>,
    <trd>Men&uuml;punkt</trd>
  </trdgrp>
  <trd lng="es">elemento del men&uacute;</trd>
  <trd lng="fr">&eacute;l&eacute;ment de menu</trd>
  <trd lng="hu">men&uuml;pont</trd>
  <trd lng="nl">menu-onderdeel</trd>
  <trdgrp lng="pl">
    <trd>pozycja z <ind>menu</ind></trd>,
    <trd>element <ind>menu</ind></trd>
  </trdgrp>
  <trdgrp lng="pt">
    <trd>item do <ind>menu</ind></trd>,
    <trd>op&ccedil;&atilde;o do <ind>menu</ind></trd>
  </trdgrp>
</drv>
</art>
<!--
$Log: menu.xml,v $
Revision 1.25  2015/07/04 08:37:39  revo
aldono de trd cs per skripto de M. von Laer

Revision 1.24  2015/06/29 16:33:20  revo
aldono de trd sk per skripto de M. von Laer

Revision 1.23  2014/08/08 08:10:10  revo
Guillermo Molleda Jimena: Hispana tradukado

Revision 1.22  2012/08/19 19:10:21  revo
Marc Rausell: + trd ca

Revision 1.21  2009/07/05 16:39:11  revo
Paul Peeraerts: +trd nl

Revision 1.20  2009/04/17 19:47:33  revo
Sebastian Cyprych: +trd pl

Revision 1.19  2009/02/28 17:31:00  revo
Marcus Curdeius: +pl

Revision 1.18  2007/09/23 16:30:38  revo
Tulio Flores: +tr pt

Revision 1.17  2007/04/29 16:31:30  revo
Jeromo Vasxe: kor 1 ref

Revision 1.16  2007/01/30 17:30:29  revo
-->
</vortaro>
